.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.fseventsd

*.swp
*~.nib

build/
DerivedData/
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserstate
*.ipa
*.dSYM.zip
*.dSYM

.codex-ssh-venv/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3
